server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/starbux
    username: postgres
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        format-sql: true
        temp:
          use-jdbc-metadata-defaults: false